body {
  background: linear-gradient(#dff1f5, #bfebf5);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size:1.3rem
}