<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Translate</title>
      {% else %}
      <title>Welcome to Translate</title>
      {% endif %}
    </head>
    <body>
        <div>
            Translator App: 
            <a href="/dev/index">Home</a>
            <a href="/dev/login">Login</a>
            <a href="/dev/logout">Logout</a>
            <a href="/dev/register">Register</a>
            <a href="/dev/upload">Upload</a>
            <a href="/dev/gallery">Gallery</a>
            <a href="/dev/api">epicAPI</a>
        </div>

        <hr>
        {% block content %}{% endblock %}
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </body>
</html>