<!doctype html>
<html>
    <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      {% if title %}
      <title>{{ title }} - Translate</title>
      {% else %}
      <title>Welcome to Translate</title>
      {% endif %}
    </head>
    <body>
        <div id='myNavbar' class='navbar'>
            <a href="/dev/index">Home</a>
            <a href="/dev/login">Login</a>
            <a href="/dev/logout">Logout</a>
            <a href="/dev/register">Register</a>
            <a href="/dev/upload">Upload</a>
            <a href="/dev/gallery">Gallery</a>
            <a href="/dev/api">epicAPI</a>
        </div>

        
        <hr>
        {% block content %}{% endblock %}
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li><div style="font-size:1.5rem">&#128587{{ message }}&#128583</div></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </body>
</html>