<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Microblog</title>
      {% else %}
      <title>Welcome to Microblog</title>
      {% endif %}
    </head>
    <body>
        <div>
            Translator App (NAVBAR DOESNT WORK ON ZAPPA YET): 
            <a href="/index">Home</a>
            <a href="/login">Login</a>
            <a href="/logout">Logout</a>
            <a href="/register">Register</a>
            <a href="/upload">Upload</a>
            <a href="/uploadurl">UploadURL</a>
            <a href="/gallery">Gallery</a>
            <a href="/api">epicAPI</a>
        </div>

        <hr>
        {% block content %}{% endblock %}
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </body>
</html>