{% extends "base.html" %}

{% block content %}
    <h1>Upload via URL</h1>
    <h3>Please make sure your URL is a direct browser link to an image file and starts with http:// or https://</h3>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.urlpicture.label }}<br>
            {{ form.urlpicture(size=256) }}<br>
            {% for error in form.urlpicture.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}